* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

@font-face {
    font-family: acrom-bold;
    src: url(../fonts/Acrom-Bold.ttf);
}

@font-face {
    font-family: acrom-light;
    src: url(../fonts/Acrom-Light.ttf);
}

@font-face {
    font-family: acrom-regular;
    src: url(../fonts/Acrom-Regular.ttf);
}

@font-face {
    font-family: acrom-medium;
    src: url(../fonts/Acrom-Medium.ttf);
}

button:focus, button:active, a:focus, a:active {
    outline: none;
}

button::-moz-focus-inner {
    outline: none;
    border: 0;
}
a::-moz-focus-inner {
    outline: none;
    border: 0;
}

.landing-bg {
    width: 100%;
    height: 100vh;
    background: url(../img/landing-bg.png);
    background-size: cover;
    background-position: center;
}

.logo {
    margin-top: 43px;
    margin-left: 160px;
}

.heading-text {
    color: #fff;
    font-family: acrom-bold;
    font-size: 78px;
    line-height: 130%;
    letter-spacing: -0.01em;
    margin-top: 160px;
    margin-left: 160px;
}

.pre-heading-text {
    font-family: acrom-light;
    font-size: 23px;
    color: #fff;
    letter-spacing: -0.01em;
    line-height: 104%;
    margin-left: 160px;
}

.play-btn {
    width: 223px;
    height: 60px;
    background-color: #fff;
    border-radius: 10px;
    color: #6100FF;
    font-family: acrom-regular;
    letter-spacing: -0.01em;
    font-size: 23px;
    line-height: 104%;
    border: none;
    margin-top: 10px;
    margin-left: 160px;
    transition: 0.75s;
}

.play-btn:hover {
    font-size: 24.5px;
    background-color: #6100ff;
    color: #fff;
}

.soft {
    width: 264px;
    height: 60px;
    background: transparent;
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 10px;
    color: #fff;
    font-family: acrom-regular;
    font-size: 19px;
    letter-spacing: -0.01em;
    line-height: 104%;
    position: absolute;
    top: 660px;
    left: 160px;
    transition: 0.7s;
    z-index: 1;
}

.soft:hover {
    background-color: #fff;
    border: 1px solid gray;
    color: black;
}

@media (max-width: 1280px) {
    .second-pre-heading {
        font-size: 16px;
    }
    .logo {
        margin-left: 50px;
        margin-top: 30px;
    }
    .heading-text {
        margin-left: 0;
        margin-top: 100px;
    }
    .pre-heading-text {
        margin-left: 0;
        font-size: 19px;
    }
    .play-btn {
        margin-left: 0;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
    }
    .soft {
        margin-left: 0;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        margin-top: -100px;
    }
}

@media (max-width: 785px) {
    .play-btn {
        margin-top: 1px;
    }
    .soft {
        margin-top: -10px;
    }
}

@media (max-width: 595px) {
    .soft {
        margin-top: -10px;
    }
    .landing-bg {
        height: 105vh;
    }
}

@media (max-width: 578px) {
    .soft {
        margin-top: 95px;
    }
    .landing-bg {
        height: 120vh;
    }
}

@media (max-width: 535px) {
    .soft {
        margin-top: 85px;
    }
}

@media (max-width: 505px) {
    .soft {
        margin-top: 90px;
    }
}

@media (max-width: 504px) {
    .soft {
        margin-top: -60px;
    }
}

@media (max-width: 476px) {
    .soft {
        margin-top: -80px;
    }
}

@media (max-width: 430px) {
    .soft {
        margin-top: -80px;
    }
}

@media (max-width: 350px) {
    .soft {
        margin-top: -105px;
    }
}

@media (max-width: 504px) {
    .heading-text {
        font-size: 13vw;
    }
}

.second-heading {
    color: #6100ff;
    font-size: 56px;
    font-family: acrom-bold;
    letter-spacing: -0.01em;
    line-height: 96%;
    text-shadow: 0px 4px 22px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin-top: 82px;
}

.second-pre-heading {
    font-family: acrom-light;
    font-size: 20px;
    line-height: 112%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #6100FF;
    text-shadow: 0px 4px 22px rgba(0, 0, 0, 0.25);
}

.community-img {
    margin-top: 170px;
    margin-left: 310px;
    position: absolute;
}

.community-heading {
    font-size: 56px;
    line-height: 123%;
    letter-spacing: -0.01em;
    color: #7289DA;
    font-family: acrom-bold;
    margin-top: 253px;
    position: absolute;
    right: 465px;
}

.community-pre-heading {
    margin-top: 340px;
    font-family: acrom-light;
    font-size: 21px;
    line-height: 123%;
    letter-spacing: -0.01em;
    color: #000000;
    text-shadow: 0px 4px 22px rgba(0, 0, 0, 0.25);
    position: absolute;
    right: 339px;
    text-align: center;
}

.economy-img {
    position: absolute;
    margin-top: 750px;
    right: 300px;
}

.economy-heading {
    font-family: acrom-bold;
    font-size: 56px;
    line-height: 123%;
    letter-spacing: -0.01em;
    color: #7289DA;
    margin-top: 860px;
    margin-left: 447px;
}

.economy-pre-heading {
    font-size: 21px;
    line-height: 123%;
    letter-spacing: -0.01em;
    color: #000000;
    font-family: acrom-light;
    margin-left: 360px;
    text-align: center;
    position: absolute;
}

.atmosphere-img {
    position: absolute;
    margin-left: 310px;
    margin-top: 330px;
}

.atmosphere-heading {
    font-size: 56px;
    line-height: 96%;
    letter-spacing: -0.01em;
    color: #7289DA;
    font-family: acrom-bold;
    margin-top: 420px;
    position: absolute;
    text-align: center;
    right: 385px;
}

.atmosphere-pre-heading {
    font-size: 21px;
    line-height: 122%;
    letter-spacing: -0.01em;
    color: #000000;
    text-shadow: 0px 4px 22px rgba(0, 0, 0, 0.25);
    font-family: acrom-light;
    margin-top: 550px;
    position: absolute;
    text-align: center;
    right: 339px;
}

.creation-img {
    position: absolute;
    margin-top: 850px;
    right: 295px;
}

.creation-heading {
    font-size: 56px;
    line-height: 123%;
    letter-spacing: -0.01em;
    color: #7289DA;
    font-family: acrom-bold;
    position: absolute;
    margin-top: 915px;
    text-align: center;
    left: 367px;
}

.creation-pre-heading {
    font-size: 21px;
    line-height: 122%;
    letter-spacing: -0.01em;
    color: #000000;
    text-shadow: 0px 4px 22px rgba(0, 0, 0, 0.25);
    font-family: acrom-light;
    position: absolute;
    margin-top: 1070px;
    text-align: center;
    left: 360px;
}


@media (max-width: 1840px) {
    .community-img {
        position: absolute;
        margin-left: 0;
        margin-top: 400px;
        left: 50%;
        transform: translate(-50%);
    }
    .community-heading,
    .community-pre-heading {
        position: absolute;
        right: 0;
        right: 50%;
        transform: translate(50%);
    }
    .community-heading {
        margin-top: 150px;
        font-size: 49px;
    }
    .community-pre-heading {
        margin-top: 240px;
        font-size: 16px;
    }

    .economy-img {
        margin-top: 1160px;
        position: absolute;
        right: 0;
        right: 50%;
        transform: translate(50%);
    }
    .economy-heading {
        font-size: 49px;
        margin-top: 930px;
        margin-left: 0;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }
    .economy-pre-heading {
        font-size: 16px;
        position: absolute;
        margin-left: 0;
        left: 50%;
        transform: translate(-50%);
        margin-top: 1010px;
    }

    .atmosphere-img {
        position: absolute;
        margin-left: 0;
        left: 50%;
        transform: translate(-50%);
        margin-top: 1900px;
    }
    .atmosphere-heading {
        position: absolute;
        right: 0;
        right: 50%;
        transform: translate(50%);
        margin-top: 1685px;
        font-size: 49px;
    }
    .atmosphere-pre-heading {
        position: absolute;
        right: 0;
        right: 50%;
        transform: translate(50%);
        margin-top: 1810px;
        font-size: 16px;
    }

    .creation-img {
        position: absolute;
        right: 0;
        right: 50%;
        transform: translate(50%);
        margin-top: 2750px;
    }
    .creation-heading {
        position: absolute;
        left: 0;
        left: 50%;
        transform: translate(-50%);
        margin-top: 2470px;
        font-size: 49px;
    }
    .creation-pre-heading {
        position: absolute;
        left: 0;
        left: 50%;
        transform: translate(-50%);
        margin-top: 2615px;
        font-size: 16px;
    }

    .third-heading {
        padding-top: 1800px;
    }
}

.community-img,
.community-heading,
.community-pre-heading,
.economy-img,
.economy-heading,
.economy-pre-heading,
.atmosphere-img,
.atmosphere-pre-heading,
.atmosphere-heading,
.creation-img,
.creation-pre-heading,
.creation-heading,
.advantages {
    opacity: 0;
}

@media (max-width:954px) {
    .community-heading,
    .economy-heading,
    .atmosphere-heading,
    .creation-heading {
        white-space: nowrap;
    }

    .community-img {
        margin-top: 300px;
    }

    .economy-img {
        margin-top: 1050px;
    }

    .atmosphere-img {
        margin-top: 1850px;
    }

    .creation-img {
        margin-top: 2700px;
    }


    .community-heading {
        margin-top: 50px;
    }
    .community-pre-heading {
        margin-top: 140px;   
    }

    .economy-heading {
        margin-top: 830px;
    }
    .economy-pre-heading {
        margin-top: 910px;
    }

    .atmosphere-heading {
        margin-top: 1585px;   
    }
    .atmosphere-pre-heading {
        margin-top: 1710px;
    }

    .creation-heading {
        margin-top: 2370px;
    }
    .creation-pre-heading {
        margin-top: 2515px;
    }
}

@media (max-width: 525px) {
    .second-heading {
        font-size: 42px;
    }
    .third-heading {
        font-size: 42px;
    }
}

@media (max-width: 477px) {
    .community-heading,
    .economy-heading,
    .atmosphere-heading,
    .creation-heading {
        font-size: 11.5vw;
    }
}

@media (max-width: 440px) {
    .community-pre-heading {
        margin-top: 110px;
    }
}

@media (max-width: 404px) {
    .atmosphere-pre-heading {
        margin-top: 1795px;
    }
}

@media (max-width: 374px) {
    .creation-pre-heading {
        margin-top: 2600px;
    }
    .atmosphere-pre-heading {
        margin-top: 1775px;
    }

}

@media (max-width: 366px) {
    .economy-heading {
        margin-top: 900px;
    }
    .economy-pre-heading {
        margin-top: 950px;
    }
}

@media (max-width: 336px) {
    .atmosphere-heading {
        margin-top: 1670px;
    }
    .atmosphere-pre-heading {
        margin-top: 1760px;
    }
    .economy-pre-heading {
        margin-top: 945px;
    }
}

.anim {
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
        -webkit-animation-duration: 1.65s;
        animation-duration: 1.65s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        }
        @-webkit-keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
        }
        @keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
        } 

.third-heading {
    font-size: 56px;
    line-height: 96%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #6100FF;
    font-family: acrom-bold;
    margin-top: 1550px;
}

@media (max-width: 525px) {
    .third-heading {
        font-size: 44px;
    }

.advantages {
    width: 1164px;
    height: 372px;
    margin-top: 160px;
}

@media (max-width: 1831px) {
    .trt {
        margin-top: 1800px;
    }
}

.bottle-text {
    font-family: acrom-regular;
    font-size: 23px;
    line-height: 123%;
    letter-spacing: -0.01em;
    color: #7289DA;
    white-space: nowrap;
    position: absolute;
    margin-top: -55px;
    margin-left: 50px;
}

.system {
    margin-top: 70px;
}

.system-text {
    font-family: acrom-regular;
    font-size: 23px;
    line-height: 123%;
    letter-spacing: -0.01em;
    color: #7289DA;
    white-space: nowrap;
    position: absolute;
    margin-top: -47px;
    margin-left: 50px;
}

.paper {
    margin-top: 70px;
}

.paper-text {
    font-family: acrom-regular;
    font-size: 23px;
    line-height: 123%;
    letter-spacing: -0.01em;
    color: #7289DA;
    white-space: nowrap;
    position: absolute;
    margin-top: -46px;
    margin-left: 50px;
}

.arrow {
    margin-top: 70px;
}

.arrow-text {
    font-family: acrom-regular;
    font-size: 23px;
    line-height: 123%;
    letter-spacing: -0.01em;
    color: #7289DA;
    white-space: nowrap;
    position: absolute;
    margin-top: -39px;
    margin-left: 50px;
}

.stability {
    margin-top: -385px;
    margin-left: 814px;
}

.stability-text {
    font-family: acrom-regular;
    font-size: 23px;
    line-height: 123%;
    letter-spacing: -0.01em;
    color: #7289DA;
    white-space: nowrap;
    position: absolute;
    margin-top: -47px;
    margin-left: 50px;
}

.rp {
    margin-top: 72px;
    margin-left: 814px;
}

.rp-text {
    font-family: acrom-regular;
    font-size: 23px;
    line-height: 123%;
    letter-spacing: -0.01em;
    color: #7289DA;
    white-space: nowrap;
    position: absolute;
    margin-top: -47px;
    margin-left: 50px;
}

.schema {
    margin-top: 72px;
    margin-left: 814px;
}

.schema-text {
    font-family: acrom-regular;
    font-size: 23px;
    line-height: 123%;
    letter-spacing: -0.01em;
    color: #7289DA;
    white-space: nowrap;
    position: absolute;
    margin-top: -47px;
    margin-left: 50px;
}

.connect {
    margin-top: 72px;
    margin-left: 814px;
}

.connect-text {
    font-family: acrom-regular;
    font-size: 23px;
    line-height: 123%;
    letter-spacing: -0.01em;
    color: #7289DA;
    white-space: nowrap;
    position: absolute;
    margin-top: -47px;
    margin-left: 50px;
}


.adaptive p {
    font-family: acrom-regular;
    font-size: 19px;
    line-height: 123%;
    letter-spacing: -0.01em;
    color: #7289DA;
    margin-left: 305px;
}


.adap-fir {
    margin-top: 100px;
}

.adap-fir-img {
    position: absolute;
    margin-left: 255px;
    margin-top: 5px;
}

.adap-line {
    width: 469px;
    height: 2px;
    background: rgba(114, 137, 218, 0.5);
    border-radius: 15px;
    margin-left: 235px;
}

.adap-sec {
    margin-top: 30px;
}

.adap-sec-img {
    position: absolute;
    margin-left: 255px;
    margin-top: 1px;
}

.adap-thi {
    margin-top: 30px;
}

.adap-thi-img {
    position: absolute;
    margin-left: 255px;
    margin-top: 5px;
}

.adap-fou {
    margin-top: 30px;
}

.adap-fou-img {
    position: absolute;
    margin-left: 255px;
    margin-top: 7px;
}

.adap-fif {
    margin-top: 30px;
}

.adap-fif-img {
    position: absolute;
    margin-left: 255px;
    margin-top: 5px;
}

.adap-six {
    margin-top: 30px;
}

.adap-six-img {
    position: absolute;
    margin-left: 255px;
    margin-top: 11px;
}

.adap-sev {
    margin-top: 30px;
}

.adap-sev-img {
    position: absolute;
    margin-left: 255px;
    margin-top: -8px;
}

.adap-eig {
    margin-top: 30px;
}

.adap-eig-img {
    position: absolute;
    margin-left: 255px;
    margin-top: 11px;
}


@media (max-width:891px) {
    .adaptive p {
        margin-left: 105px;
    }
    .adap-fir-img,
    .adap-sec-img,
    .adap-thi-img,
    .adap-fou-img,
    .adap-fif-img,
    .adap-six-img,
    .adap-sev-img,
    .adap-eig-img {
        margin-left: 55px;
    }
    .adap-line {
        margin-left: 35px;
    }
}

.first-line,
.second-line,
.third-line,
.fourth-line {
    position: absolute;
    width: 1125px;
    height: 2px;
    background: rgba(114, 137, 218, 0.5);
    border-radius: 15px;
    margin-top: 20px;
}

.adaptive {
    display: none;
}

@media (max-width: 1142px) {
    .advantages {
        display: none;
    }
    .adaptive {
        display: block;
    }
}

@media (max-width: 396px) {
    .third-heading {
        margin-top: 1900px;
    }
    .adaptive {
        margin-top: 100px;
    }
}

.last {
    margin-top: 350px;
    width: 100%;
    height: 826px;
    background: url(../img/last-bg.png);
    background-position: center;
    background-size: cover;
}

.last-heading {
    font-family: acrom-bold;
    font-size: 56px;
    line-height: 123%;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    margin-left: 226px;
    padding-top: 153px;
}

.last-pre-heading {
    font-family: acrom-light;
    font-size: 23px;
    line-height: 123%; 
    letter-spacing: -0.01em;
    color: #0085FF;
    margin-left: 226px;
    margin-top: -10px;
}

.last-info {
    font-size: 23px;
    line-height: 123%;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    font-family: acrom-light;
    margin-left: 226px;
}

.last-pre-info {
    font-size: 18px;
    line-height: 123%;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    font-family: acrom-regular;
    margin-left: 226px;
}

.buy-btn {
    width: 205px;
    height: 55px;
    background-color: #fff;
    border-radius: 10px;
    font-size: 21px;
    line-height: 104%;
    letter-spacing: -0.01em;
    color: #6100FF;
    border: none;
    font-family: acrom-regular;
    transition: 0.75s;
    margin-left: 226px;
    margin-top: 30px;
}

.buy-btn:hover {
    font-size: 24.5px;
    background-color: #6100ff;
    color: #fff;
}

.buy-info {
    font-size: 18px;
    line-height: 123%;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    font-family: acrom-regular;
    margin-left: 239px;
    margin-top: 12px;
}

.advice-heading {
    font-size: 28px;
    line-height: 123%;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    font-family: acrom-bold;
    position: absolute;
    margin-top: -382px;
    right: 291px;
}

.advice-info {
    font-size: 18px;
    line-height: 123%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    font-family: acrom-light;
    position: absolute;
    margin-top: -330px;
    right: 182px;
}

@media (max-width: 1599px) {
    .advice-heading,
    .advice-info {
        position: absolute;
        right: 10px;
        text-align: right;
    }
    .last-heading,
    .last-pre-heading,
    .last-info,
    .last-pre-info,
    .buy-btn,
    .buy-info {
        margin-left: 20px;
    }
    .buy-info {
        margin-left: 33px;
        font-size: 19px;
    }
    .last-info {
        font-size: 19px;
}

@media (max-width: 1167px) {
    .last-heading,
    .last-pre-heading,
    .last-info,
    .last-pre-info {
        position: static;
        margin-left: 0;
        text-align: center;
    }
    .last-heading {
        padding-top: 50px;
    }
    .buy-btn {
        position: absolute;
        margin-left: 0;
        left: 50%;
        transform: translate(-50%);
    }
    .buy-info {
        margin-left: 0;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        margin-top: 90px;
        white-space: nowrap;
    }

    .advice-heading,
    .advice-info {
        position: static;
        right: 0;
        left: 0;
        text-align: center;
        margin-top: 200px;
    }
    .advice-info {
        margin-top: -10px;
    }
}

@media (max-width: 453px) {
    .last {
        height: 120vh;
    }
}

@media (max-width: 397px) {
    .last {
        height: 130vh;
    }
}

@media (max-width: 330px) {
    .last {
        height: 140vh;
    }
}

@media (max-width: 320px) {
    .last {
        height: 145vh;
    }
}

footer {
    height: 362px;
    background: #03000c;
}

.copyright {
    font-size: 18px;
    line-height: 123%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    font-family: acrom-light;
    padding-top: 95px;
}

.vk-btn {
    width: 205px;
    height: 55px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 10px;
    color: #fff;
    font-family: acrom-regular;
    font-size: 21px;
    transition: 0.6s;
    margin-top: 40px;
    position: absolute;
    left: 40%;
    transform: translate(-40%);
}

.vk-btn:hover {
    background-color: #fff;
    border: 1px solid gray;
    color: black;
}

.tiktok-btn {
    width: 205px;
    height: 55px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 10px;
    color: #fff;
    font-family: acrom-regular;
    font-size: 21px;
    transition: 0.6s;
    margin-top: 40px;
    position: absolute;
    left: 60%;
    transform: translate(-60%);
}

.tiktok-btn:hover {
    background-color: #fff;
    border: 1px solid gray;
    color: black;
}

.modal-content {
    height: 562px !important;
    background: rgba(255, 255, 255, 0.816);
box-shadow: 0px 0px 91px rgba(0, 102, 255, 0.44);
backdrop-filter: blur(12px);
/* Note: backdrop-filter has minimal browser support */
opacity: 0.95;
border-radius: 30px;
}

.modal-title {
    color: #6100FF !important;
    padding-top: 20px !important;
    font-family: acrom-bold !important;
    font-size: 30px !important;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    white-space: nowrap;
}

.test {
    background: url(../img/test.png) !important;
    position: absolute;
    z-index: 1000;
}

.rtx-heading {
    white-space: nowrap;
    color: #6100ff;
    font-family: acrom-bold;
    font-size: 33px;
    margin-top: 135px;
    margin-left: 65px;
}

.rtx-info {
    color: #6100ff;
    font-size: 17px;
    font-family: acrom-light;
    margin-top: -15px;
    margin-left: 105px;
}


.recourse-heading {
    color: #6100ff;
    font-family: acrom-bold;
    font-size: 33px;
    margin-top: -140px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.recourse-info {
    color: #6100ff;
    font-size: 17px;
    font-family: acrom-light;
    margin-top: -90px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.recourse-download {
    width: 215px;
    height: 53px;
    background: #7289da;
    border-radius: 10px;
    color: #fff;
    font-size: 17px;
    font-family: acrom-light;
    border: none;
    transition: 0.6s;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.recourse-download:hover {
    font-size: 18px;
    background-color: #fff;
    color: #7289da;
    border: 1px solid gray;
    font-family: acrom-regular;
}

.mods-heading {
    white-space: nowrap;
    margin-top: -140px;
    color: #6100ff;
    font-family: acrom-bold;
    font-size: 33px;
    position: absolute;
    right: 70px;
}

.mods-info {
    color: #6100ff;
    font-size: 17px;
    font-family: acrom-light;
    margin-top: -90px;
    position: absolute;
    right: 132px;
}

.mods-download {
    width: 215px;
    height: 53px;
    background: #7289da;
    border-radius: 10px;
    color: #fff;
    font-size: 17px;
    font-family: acrom-light;
    border: none;
    transition: 0.6s;
    position: absolute;
    right: 83px;
}

.mods-download:hover {
    font-size: 18px;
    background-color: #fff;
    color: #7289da;
    border: 1px solid gray;
    font-family: acrom-regular;
}


@media (max-width: 1282px) {
    .vk-btn {
        left: 30%;
        transform: translate(-30%);
    }
    .tiktok-btn {
        left: 70%;
        transform: translate(-70%);
    }
}

@media (max-width: 741px) {
    .vk-btn {
        left: 20%;
        transform: translate(-20%);
    }
    .tiktok-btn {
        left: 80%;
        transform: translate(-80%);
    }
}

@media (max-width: 560px) {
    .vk-btn {
        left: 5%;
        transform: translate(-5%);
    }
    .tiktok-btn {
        left: 95%;
        transform: translate(-95%);
    }
}

@media (max-width:448px) {
    footer {
        height: 500px;
    }
    .vk-btn {
        width: 95%;
        left: 50%;
        transform: translate(-50%);
    }
    .tiktok-btn {
        width: 95%;
        left: 50%;
        transform: translate(-50%);
        margin-top: 120px;
    }
}

#zatemnenie {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(6px);
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      display: none;
      z-index: 2;
    }

    
    #okno {
        z-index: 3;
      width: 1065px;
      height: 562px;
      padding: 15px;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      background: #E5E5E5;
    box-shadow: 0px 0px 91px rgba(0, 102, 255, 0.44);
    backdrop-filter: blur(12px);
    border-radius: 30px;
    }


    #zatemnenie:target {display: block;}


#okno {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    }
    @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    } 

.clos {
    font-family: acrom-bold;
    font-size: 14px;
    color: #6100ff;
    opacity: 0.5;
    transition: 0.6s;
    position: absolute;
    left: 15px;
    bottom: 10px;
}

.clos:hover {
    text-decoration: none;
    opacity: 1;
    color: #6100ff;
}

.okno-heading {
    font-family: acrom-bold;
    font-size: 30px;
    line-height: 104%;
    letter-spacing: -0.01em;
    color: #6100FF;
    padding-top: 25px;
    text-align: center;
}

.rtx-heading {
    color: #6100ff;
    font-size: 33px;
    font-family: acrom-bold;
    position: absolute;
}

.rtx-info {
    color: #6100ff;
    font-size: 17px;
    font-family: acrom-light;
    position: absolute;
    margin-top: 180px;
}

.rtx-download {
    width: 215px;
    height: 53px;
    background: #7289da;
    border-radius: 10px;
    color: #fff;
    font-size: 17px;
    font-family: acrom-light;
    border: none;
    transition: 0.6s;
    margin-left: 70px;
    margin-top: 220px;
}

.rtx-download:hover {
    font-size: 18px;
    background-color: #fff;
    color: #7289da;
    border: 1px solid gray;
    font-family: acrom-regular;
}

.recourse-heading {
    margin-top: -136.5px;
}

.recourse-download {
    margin-top: 220px;
}

.mods-heading {
    margin-top: -136.5px;
}

.mods-download {
    margin-top: 220px;
}

@media (max-width: 1070px) {
    #okno {
        width: 100%;
    }
}

@media (max-width: 840px) {
    .rtx-heading,
    .rtx-info,
    .rtx-download {
        position: absolute;
        margin-left: 0;
        left: 50%;
        transform: translate(-50%);
        margin-top: 0;
    }
    .rtx-info {
        margin-top: 45px;
    }
    .rtx-download {
        margin-top: 75px;
    }

    .recourse-heading {
        margin-top: 140px;
    }
    .recourse-info {
        margin-top: 185px;
    }
    .recourse-download {
        margin-top: 215px;
    }

    .mods-heading {
        position: absolute;
        right: 0;
        right: 50%;
        transform: translate(50%);
        margin-top: 285px;
    }
    .mods-info {
        position: absolute;
        right: 0;
        right: 50%;
        transform: translate(50%);
        margin-top: 330px;
    }
    .mods-download {
        position: absolute;
        right: 0;
        right: 50%;
        transform: translate(50%);
        margin-top: 360px;
    }
}

@media (max-width: 344px) {
    .clos {
        bottom: 0;
        left: 15px;
        top: 5px;
        font-size: 15px;
    }
}

